body {
  background-color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#imageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#randomImage {
  height: 100%;
  width: auto;
  object-fit: cover;
}
